<%= form_with(model: @game, id: dom_id(@game))do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @game.errors.full_messages.each do |msg| %>
        <li><center><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label 'Scheduled Date' %>
    <%= f.date_field :schedule_date %>
  </p>

  <p>
    <% @teams.each do |team| %>
      <%= label_tag do %>
        <%= check_box_tag "game[team_ids][]", team.id %>
        <%= team.name %>
      <% end %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
