<p>Made it to dashboards/index.</p>


<p>
  <%= link_to 'See the teams', teams_path %>
</p>

<p>
  <%= link_to 'See the games', games_path %>
</p>

<p>
  <%= link_to 'Start a game', new_game_path %>
</p>

<p>
  <%= link_to 'Create a score', new_score_path %>
</p>

<p>
  <%= link_to 'See the scores', scores_path %>
</p>

<p>
  <p>Current Games:</p>
  <% current_user&.team&.scores&.each do |score| %>
    <p><%= link_to "#{score.game.name}, #{score.game.schedule_date}", game_path(score.game) %></p>
  <% end %>
</p>
