<!DOCTYPE html>
<html>
  <head>
    <title>Tafel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless notice.nil? %>
      <p class="notice middle"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert middle"><%= alert %></p>
    <% end %>

    <div class='container'>
      <div class='page'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
